@font-face {
    font-family: 'Roboto Mono';
    src: url(../fonts/roboto-mono-v5-latin-regular.woff2);
}

a:visited{
    color: black;
}

a{
    color: black;
}


html{
    margin:0px;
    justify-content: center;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    overflow-y: scroll;
}

body{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

#menu-button{
    /* display: none; */
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
    display: flex;
    flex-direction: column;
}

#menu-button-items{
    position: absolute;
    z-index: 100;
    margin: 0px;
    padding: 0px;
    background-color: rgba(44, 44, 44, 0.96);
    margin-top: 0px;
    padding: 20px;
    font-size: 1.8em;
    list-style-type: none;
    display: none;
    color: whitesmoke;
}

#menu-button-items li a{
    color: whitesmoke;
}

#menu-button-items li a:visited{
    color: whitesmoke;
}





@media (max-width: 60em) and (orientation: portrait){
    body{
        font-size: 22px;
    }
    .menu-button{
        display: flex;
        justify-self: left;
    }
}



.blog-title{
    margin:auto;
    white-space: nowrap;
}


@media (max-width: 60em){
    .menu{
        display: none;
    }
}

.menu{
    padding-top: 20px;
    position: sticky;
    top: 30px;
    align-self: flex-start;
    max-width: 200px;
}

#menu-items{
    margin-top: 0px;
}

#menu-items li{
    margin-bottom: 10px;
}


#articles{
    max-width: 700px;
    margin-left: 50px;
}

.main-header{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    text-align: center;
    display: flex;
    justify-items: center;
}


.main{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}


.article hr{
    margin-top: 50px;
    margin-bottom: 50px;
}


.tiny{
    font-size: 0.6em;
}


.date{
    font-size: 0.8em;
    font-weight: bold;
    align-self: flex-end;
}



h2{
    margin-top: 0px;
    margin-bottom: 0px;
}

.current-commit{
    font-size: 0.9em;
    font-style: italic;
}

ul li{
    margin-bottom: 5px;
}

