body{
  display: flex;
  justify-content: center;
  height: 70vh;
}

.main{
  align-self: center;
  text-align: center;
}


#date{
  font-size: 5em;
}

button{
  font-size: 3em;
  border: 1px solid grey;
  background-color: rgb(163, 163, 238);
  color: rgb(49, 48, 48);
  margin-top: 20px;
}